<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Project</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div ng-controller="MainCtrl" class="container">
		<widget ng-repeat="i in images"></widget>
		<button class="green big" ng-click="newImage()">Add new image</button>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>