body, html {
	margin: 0;
	padding: 0;
	background-color: #5A244D;
}

button, input {
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	outline: none;
	border: 0;
}
input {
	padding: 6px 12px;
	margin: 0;
}
button {
		color: #FFFFFF;
	padding: 6px 12px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s opacity;
	&.green {
		background-color: #5cb85c;
	}
	&.red {
		background-color: #d9534f;
	}
	&.yellow {
		background-color: #f0ad4e;
	}
	&:hover {
		opacity: 0.8;
	}
	&.big {
		width: 100%;
		padding: 20px;
	}
}

.clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}


.container {
	padding: 10px;
	.row {
		width: 100%;
		&>* {
			padding: 5px 0;
			box-sizing: border-box;
			float: left;
			width: 48%;
			margin-right: 4%;
		}
		&>*:last-child {
			margin-right: 0;
		}
		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}

}

.widget {
	margin-bottom: 40px;
	background-color: rgba(170, 170, 170, 0.24);
	padding: 30px;

	.uploader {
		input {
			float: right;
			font-size: 18px;
			line-height: 30px;
			padding: 0;
		}
		input::-webkit-file-upload-button {
			visibility: hidden;
		}
		input::before {
			border-radius: 4px;
			font-size: 14px;
			line-height: 18px;
			outline: none;
			border: 0;
			content: "Browse";
			color: #FFFFFF;
			padding: 6px 12px;
			font-weight: bold;
			cursor: pointer;
			transition: 0.2s opacity;
			background-color: #5cb85c;
			float: right;
			&:hover {
				opacity: 0.8;
			}
		}
	}


	.filters {
		margin-bottom: 10px;
		button {
			float: left;
		}
		.filter {
			&:first-child {
				border-radius: 4px 0 0 4px;
			}
			border-radius: 0;
		}
		.add {
			border-radius: 0 4px 4px 0;
		}
	}


	.filter-nav {
		margin-bottom: 10px;
	}


	.image-container {
		min-height: 150px;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 5px;
	}
}



