<div class="widget">
	<div class="row">
		<div class="uploader">
			<input type="file" class="file-uploader">
		</div>
		
		<div>
			<div class="filters clear">
				<button 
					class="filter {{(filter == currentFilter)? 'green' : 'yellow' }}" 
					ng-repeat="filter in filters" 
					ng-click="changeFilter($index)"
				>
					{{filter.name}}
				</button>
				<button class="green add" ng-click="createFilter()">+</button>
			</div>

			<div class="filter-nav">
				<input type="text" placeholder="Type your filter name" ng-model="currentFilter.name">
				<button class="{{(currentFilter.colors[0])?'green':'red'}}" ng-click="addColor(0)">Red</button>
				<button class="{{(currentFilter.colors[1])?'green':'red'}}" ng-click="addColor(1)">Green</button>
				<button class="{{(currentFilter.colors[2])?'green':'red'}}" ng-click="addColor(2)">Blue</button>
			</div>
		</div>

	</div>

	<div class="row image-container">
		<img class="original-image">
		<img class="filtered-image">
	</div>
</div>